<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="home-landing-page">
    <!-- Navigation Bar -->
    <div class="top-navigation-bar">
        <div class="pull-left logo">
            <img src="../../assets/images/logo.PNG" class="logo-image"/>
        </div>
        <div class="top-bar-item pull-right">
            <div class="nav-items">
                <div class="nav-item"> <span [ngClass]="{'selected-nav-item': selectedItem == 'home'}" (click)="changeSelection('home')"> Home </span> </div>
                <div class="nav-item"> <span [ngClass]="{'selected-nav-item': selectedItem == 'health'}" (click)="changeSelection('health')"> Health/Fitness </span> </div>
                <div class="nav-item"> <span class="not-allowed"> Kids </span> </div>
                <div class="nav-item"> <span class="not-allowed"> Entertainment </span> </div>
                <div class="nav-item"> <span class="not-allowed"> Community </span> </div>
            </div>
            <div class="login" (click)="changeSelection('login')">
                <span class="glyphicon glyphicon-user user-icon"></span>
                <span class="login-label"> Log In</span>
            </div>
        </div>
    </div>
    <!-- Home Page -->
    <div class="home-page" *ngIf="selectedItem == 'home'">
        <div class="text-center home-image-center">
            <div class="heading"> FABULOUS </div>
            <div class="caption" (click)="changeSelection('health')">
                <div class="get-started"> Let's get Started </div>
            </div>
            
        </div>
    </div>
    <!-- Login Page -->
    <div class="login-page text-center" *ngIf="selectedItem == 'login'">
        <div class="login-heading"> <h3> Log In </h3> </div>
        <div class="login-form">
            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" />
            </div>
            <br/>
            <div class="form-group">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" />
            </div>
            <br/>            
            <div class="form-group">
                <button class="btn login-button not-allowed"> Log In </button>
            </div>
            <div class="signup-link">
                <span class="link"> Not registered yet? <b class="sign-up-link" (click)="changeSelection('signup')"> Sign Up </b></span>
            </div>
        </div>
    </div>
    <!-- Sign up Page -->
    <div class="signup-page text-center" *ngIf="selectedItem == 'signup'">
        <div class="login-heading"> <h3> Sign Up </h3> </div>
        <div class="login-form">
            <div class="form-group">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" />
            </div>
            <br/>
            <div class="form-group">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" />
            </div>
            <br/>
            <div class="form-group">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" />
            </div>
            <br/>
            <div class="form-group">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" />
            </div>
            <br/>            
            <div class="form-group">
                <button class="btn login-button not-allowed"> Sign Up </button>
            </div>
            <div class="signup-link">
                <span class="link"> Already a member? <b class="sign-up-link" (click)="changeSelection('login')"> Log In </b></span>
            </div>
        </div>
    </div>
      <!-- Sign up Page -->
      <div class="health-page" *ngIf="selectedItem == 'health'">
        <div class="filters-videos">
            <!-- need to add content from backend here -->
            <div class="filters"> <span class="heading"> Filters </span> </div>
            <div class="videos"> <span class="heading"> Videos </span></div>
        </div>
        <br/>
        <div class="enroll-section">
            <div class="enroll-card">
                <div class="card-image"> <img src="../../assets/images/yoga.jpg" class="yoga-image"/> </div>
                <div class="enroll-header"> <h4>Yoga Class</h4></div>
                <div class="enroll-details"> <span class="detail">1 hour</span> <span class="detail"> $25 </span></div>
                <div class="enroll-now">
                    <button class="enroll-now-button btn" (click)="changeSelection('signup')"> Enroll Now</button>
                </div>
            </div>
            <div class="enroll-card">
                <div class="card-image"> <img src="../../assets/images/meditation.jpg" class="yoga-image"/> </div>
                <div class="enroll-header"> <h4>Meditation Class</h4></div>
                <div class="enroll-details"> <span class="detail">30 mins</span> <span class="detail"> $18 </span></div>
                <div class="enroll-now">
                    <button class="enroll-now-button btn" (click)="changeSelection('signup')"> Enroll Now</button>
                </div>
            </div>
            <div class="enroll-card">
                <div class="card-image"> <img src="../../assets/images/cooking.png" class="yoga-image"/> </div>
                <div class="enroll-header"> <h4>Nutrition Class</h4></div>
                <div class="enroll-details"> <span class="detail">45 mins</span> <span class="detail"> $12 </span></div>
                <div class="enroll-now">
                    <button class="enroll-now-button btn" (click)="changeSelection('signup')"> Enroll Now</button>
                </div>
            </div>
        </div>
      </div>
</div>
